h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
    height: 60px;
    margin-top: 0px;
    color: white;
 }

#color-palette {
    justify-content: center;
    /* border: 1px solid black; */
    display:flex;
}

#color-palette div {
    border: 1px solid black;
    border-radius: 15px;
    height: 80px;
    width: 80px;
}
#pixel-board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.pixel-line {
    display: flex;
  }
  /* Requisito 5 - Faça com que cada elemento do quadro de pixels possua 40 pixels de largura, 40 pixels de altura e seja delimitado por uma borda preta de 1 pixel. */
.pixel { 
width: 60px;
height: 60px;
background-color: white;
border: 1px solid black;
border-radius: 5px;
}

.black {
    background-color: black;
    color: black
}

.blue{
    background-color: blue;
    color: blue
}

.green{
    background-color: green;
    color: green
}

.red {
    background-color: red;
    color: red
}

.white {
    background-color: white;
}